## Variables y Tipos de Datos

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
num = 10
print(num)

10

2) Imprimir el tipo de dato de la variable 8.5

In [3]:
var = 8.5
print(type(var))

<class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [4]:
print(type(num))

<class 'int'>

4) Crear una variable que contenga tu nombre

In [5]:
mi_nombre = 'Donato'
print(mi_nombre)

Donato

5) Crear una constante que contenga el número Pi

In [6]:
PI = 3.141592
print(PI)

3.141592

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [7]:
print(type(PI))

<class 'float'>

7) Crear una variable que contenga el valor del número **e** redondeado a 4 decimales

In [10]:
e = round(2.7182818284)
print(e)

3

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [13]:
a = True
A = True
print('No son lo mismo por que son distintas variables pero las dos son booleanos')

No son lo mismo por que son distintas variables pero las dos son booleanos

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [14]:
print(f'a = {a} y A = {A}')

True y True

10) Asignar a una variable, la suma de un número entero y otro decimal

In [15]:
suma = (4 + 4.5)
print(suma)

8.5

11) Realizar una operación de suma de un número definido como string con un entero

In [18]:
entero_numero = 4
cadena_numero = "3"
entero_numero_2 = int(cadena_numero)
suma_de_numeros = (entero_numero + entero_numero_2)
print(suma_de_numeros)

7

12) Crear una variable que contenga el valor del punto 7 elevado a la 3

In [20]:
print(e**3)

27

13) Pedir al usuario que ingrese un número por teclado y realizar una operación de multiplicación

In [28]:
ingresar_numero = input('Ingrese un numero por teclado para multiplicarlo por dos')
ingresado_el_numero = eval(ingresar_numero) #eval transforma todo numero de un string a float,int,etc.
multiplicacion_de_numero = (ingresado_el_numero)*2
print("se ingreso", ingresado_el_numero,"el resultado de la multiplicacion es",multiplicacion_de_numero, "y es de tipo", type(multiplicacion_de_numero))

se ingreso 2 el resultado de la multiplicacion es 4 y es de tipo <class 'int'>

14) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [31]:
cociente = 28 // 4
print(cociente)

7

15) De la división anterior solamente mostrar la parte entera

In [32]:
print(cociente)

7

16) De la división de 27 entre 4 mostrar solamente el resto

In [33]:
resto = 27 % 4
print(resto)

3

17) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

18) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

19) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

20) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

21) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos fueran del mismo tipo, siempre arrojaría el mismo resultado?

22) Crear una variable que contenga un menú con los elementos '1 - Pizza', '2 - Empanadas', '3 - Milanesas', '4 - Salir', y luego mostrarlo por pantalla

23) Crear una lista que contenga los números del 1 al 10

24) Imprimir el penultimo elemento de la lista creada en el punto 22

25) Modificar el tercer elemento de la lista creada en el punto 22 poniendo tu nombre

26) Construir una matriz de 3x3 que contenga las letras A, B, C, D, E, F, G, H, I

27) Imprimir la matriz creada en el punto 26

28) Modificar la letra E de la matriz y colocar la letra Z

29) Cambiar las primeras 3 letras de la matriz por los números 1, 2 y 3

30) Crear una tupla que contenga 5 marcas de ropa

31) Imprimir el primer elemento de la tupla creada en el punto 30

32) Intenta modificar el segundo elemento de la tupla. ¿Por qué no se puede?

33) Crear un diccionario que contenga las claves 'nombre', 'apellido', 'edad' y 'hobbies' y asignarle los valores correspondientes (los hobbies deben ser una lista con al menos 3 elementos)

34) Imprimir el valor de la clave 'hobbies' del diccionario creado en el punto anterior

35) Modificar el valor de la clave 'edad' del diccionario y mostrarlo por pantalla